 github.com:
    users:
        RareBird15:
            oauth_token: {{ onepasswordRead "op://Personal/GitHub CLI OAuth Token/credential" }}
    git_protocol: ssh
    oauth_token: {{ onepasswordRead "op://Personal/GitHub CLI OAuth Token/credential" }}
    user: RareBird15
