- @RareBird15

/README.md @RareBird15
/CHANGELOG.md @RareBird15
/CONTRIBUTING.md @RareBird15
/SECURITY.md @RareBird15
/.github/ @RareBird15

/dot_config/ @RareBird15
/AppData/ @RareBird15
/package-lists/ @RareBird15

/qmk_firmware/ @RareBird15
/readonly_Documents/ @RareBird15
