{{- $osID := .chezmoi.os -}}

# --- 1. 1PASSWORD SETTINGS ---
    {{ $op_command := "op" -}}
{{- if or (eq .chezmoi.os "windows") (contains "microsoft" (lower .chezmoi.kernel.osrelease)) -}}
{{-   $op_command = "op.exe" -}}
{{- end -}}

[onepassword]
    command = {{ $op_command | quote }}

# --- 2. INTERPRETERS (The "How-To" for scripts) ---
[interpreters.ps1]
{{- if eq $osID "windows" }}
    command = "powershell.exe"
    args = ["-NoLogo", "-NoProfile"]
{{- end }}

[interpreters.sh]
    {{- if eq .chezmoi.os "windows" }}
    command = "bash"
{{- else }}
    command = "/bin/bash"
{{- end }}

# --- 3. GIT SETTINGS ---
[git]
    autoCommit = true
    autoPush = true

# --- 4. DATA SECTIONS (The variables for your templates) ---
[data.common]
    editor_preference = "insiders"
    editor_wait_flag = "--wait"

[data.gitconfig]
    email = "13343932+RareBird15@users.noreply.github.com"
    name = "Lanie"

